body{
    margin: 0;
    padding: 0;
}
div{
    position: absolute;
}
.bg{
    width:800px;
    height: 600px;
    background: #f2f2f2;
    overflow: hidden;
}
.beam{
    width: 1600px;
    height: 20px;
    background: #fff;
    top: 290px;
    left: -400px;
}
.d_shield1,.d_shield2,.d_shield3,.d_shield4,.d_shield5,.d_shield6,.d_shield7{
    background: #e15016;
}
.d_shield1{
    left: 32px;
    width: 140px;
    height: 346px;
}
.d_shield2{
    transform:skewx(5deg);
    left: 16px;
    width: 100px;
    height: 346px;
    -webkit-transform:skewx(5deg);
    -moz-transform:skewx(5deg);
    -ms-transform:skewx(5deg);
    -o-transform:skewx(5deg);
}
.d_shield3{
    transform:skewy(15deg);
    top: 265px;
    left: 32px;
    width: 140px;
    height: 100px;
    -webkit-transform:skewy(15deg);
    -moz-transform:skewy(15deg);
    -ms-transform:skewy(15deg);
    -o-transform:skewy(15deg);
}
.d_shield4{
    left: 172px;
    width: 140px;
    height: 346px;
}
.d_shield5{
    transform:skewX(-5deg);
    left: 227px;
    width: 100px;
    height: 346px;
    -moz-transform:skewX(-5deg);
    -ms-transform:skewX(-5deg);
    -o-transform:skewX(-5deg);
    -webkit-transform:skewX(-5deg);
}
.d_shield6{
    transform:skewY(-15deg);
    top: 265px;
    left: 172px;
    width: 140px;
    height: 100px;
    -moz-transform:skewY(-15deg);
    -ms-transform:skewY(-15deg);
    -o-transform:skewY(-15deg);
    -webkit-transform:skewY(-15deg);
}
.d_shield7{
    height: 20px;
    top: 199px;
    width: 80px;
    left: 60px;
}
.l_shield1,.l_shield2,.l_shield3,.l_shield4{
    background: #ee6812;
}
.l_shield1{
    left: 172px; 
    width: 140px;
    height: 346px;
}
.l_shield2{
    transform:skewX(-5deg);
    left: 227px;
    width: 100px;
    height: 363px;
    -moz-transform:skewX(-5deg);
    -ms-transform:skewX(-5deg);
    -o-transform:skewX(-5deg);
    -webkit-transform:skewX(-5deg);
}
.l_shield3{
    transform:skewY(-15deg);
    top: 282px;
    left: 172px;
    width: 138px;
    height: 100px;
    -moz-transform:skewY(-15deg);
    -ms-transform:skewY(-15deg);
    -o-transform:skewY(-15deg);
    -webkit-transform:skewY(-15deg);
}
.l_shield4{
    height: 43px;
    top: 113px;
    width: 100px;
    left: 180px;
}
.gray1,.gray2,.gray3,.gray4{
    background: #ebebeb;
}
.gray1{
    width: 102px;
    height: 43px;
    left: 70px;
    top: 70px;
}
.gray2{
    width: 46px;
    height: 216px;
    top: 70px;
    left: 75px;
    transform:skewX(5deg);
    -moz-transform:skewX(5deg);
    -ms-transform:skewX(5deg);
    -o-transform:skewX(5deg);
    -webkit-transform:skewX(5deg);
}
.gray3{
    width: 95px;
    height: 43px;
    left: 77px;
    top: 156px;
}
.gray4{
    width:87px;
    height:47px;
    left:85px;
    top:251px;
    transform:skewy(15deg);
    -webkit-transform:skewy(15deg);
    -moz-transform:skewy(15deg);
    -ms-transform:skewy(15deg);
    -o-transform:skewy(15deg);
}
.white1,.white2,.white3,.white4{
    background: #fff;
}
.white1{
    width:102px;
    height: 43px;
    left: 172px;
    top: 70px;
}
.white2{
    width: 46px;
    height: 216px;
    transform: skewx(-5deg);
    top: 70px;
    left: 223px;
    -webkit-transform: skewx(-5deg);
    -moz-transform: skewx(-5deg);
    -ms-transform: skewx(-5deg);
    -o-transform: skewx(-5deg);
}
.white3{
    height: 43px;
    width: 95px;
    left: 172px;
    top: 156px;
}
.white4{
    height: 47px;
    width: 87px;
    left: 172px;
    top: 251px;
    transform:skewY(-15deg);
    -moz-transform:skewY(-15deg);
    -ms-transform:skewY(-15deg);
    -o-transform:skewY(-15deg);
    -webkit-transform:skewY(-15deg);
}
img{
    position: fixed;
    top: 14px;
    left: 224px;
    width: 350px;
    height: 110px;
}